In [1]:
#task1
name='hello'
name1='world'
print('printing {} {}'.format(name,name1))

printing hello world

In [33]:
#task2
string = "hellO World"
print(string.upper())
print(string.lower())
print(string.capitalize())
print(",".join(string_list))
print(string.center(30,'$'))

string = "Hello,World"
print(string.split(","))
print(string.islower())
print(string.isupper())
print(string.isalpha())

string = "12345"
print(string.isdigit())

HELLO WORLD
hello world
Hello world
Hello,World
$$$$$$$$$hellO World$$$$$$$$$$
['Hello', 'World']
False
False
False
True

In [16]:
#task3
month = 7
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]# use list indexing to determine the number of days in month
days=days_in_month[month]
print(days)

31

In [18]:
#task4
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009','July 11, 2010',
                 'November 13, 2012', 'March 20, 2015','March 9, 2016']
eclipse_dates[7:10]

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [31]:
#task5
Dict={"20sw01":{"ali", "khan",'2nd year'}, "20sw02":{"saad", "alam",'1st year'}}
print(Dict["20sw02"])

{'saad', 'alam', '1st year'}