In [3]:
#Task:01
points = 174  # use this input to make your submission

# write your if statement here
if 1 <= points <= 50:
    result = "Congratulations! You won a plushie prize."
elif 51 <= points <= 150:
    result = "Congratulations! You got no prize."
elif 151 <= points <= 180:
    result = "Congratulations! You won prizebond."
elif 181 <= points <= 200:
    result = "Congratulations! You won a penguin."
else:
    result = "oops!, no prize this time."

print(result)

Congratulations! You won prizebond.

In [6]:
#Task:02
answer = 174 # Provide the answer here
guess = 200 # Provide the guess here

if guess < answer:
    result = "Oops! Your guess was too low."
elif guess > answer:
    result = "Oops! Your guess was too high."
else:
    result = "Nice! Your guess matched the answer!"

print(result)

Oops! Your guess was too high.

In [11]:
#Task:03
def calculate_tax(purchase_amount, state):
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089}

    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = purchase_amount * tax_rate
        total_amount = purchase_amount + tax_amount
        return total_amount
    else:
        print("State not found in the tax rates.")
        return None
purchase_amount = float(input("Enter the purchase amount: "))
state = input("Enter the state (CA, MN, or NY): ")

purchase_amount = 100
state = 'MN'
total_amount_with_tax = calculate_tax(purchase_amount, state)
print(f"Total amount with tax in {state}: ${total_amount_with_tax:.2f}")

Enter the purchase amount: 250
Enter the state (CA, MN, or NY): CA
Total amount with tax in MN: $109.50

In [12]:
#Task:04
my_list = ["the","quick", "brown" , "fox", "jumped","over", "the" , "lazy" , "dog"]

for element in my_list:
    print(element)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [20]:
#task5
for x in range (5,31):
  if x%5==0:
    print(x)

5
10
15
20
25
30

In [21]:
#Task:06
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
# Using list comprehension to extract first names in lowercase
first_names = [name.split()[0].lower() for name in names]

print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [27]:
#task 7
multiples_3 = [num * 3 for num in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [28]:
#task 8
#Task:08
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

passed = [x for x in scores if scores[x] >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [29]:
#Task:09
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [30]:
#Task:10
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, x in enumerate(cast):
    cast[i] = x + " " + str(heights[i])

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']